

body{
  background-image: url("imgs/background-2004102_1920.jpg")
}

h1{
  text-align: center;
  border: solid;
  border-color: blue;
  background-color: grey;
  width: 20%;
  border: 3px solid blue;
  padding: 3px;
  margin: auto;

}

h2{
  border: solid;
  border-color: blue;
  background-color: grey;
  margin: auto;
  width: 20%;
  border: 3px solid blue;
  padding: 3px;
  text-align: center;
}

#pic1{
  display:block;
  margin: auto;
}

.info{
  background-color: grey;
  display: block;
  padding: 10px;
}

.list{
  background-color: grey;
  display: block;
  padding: 10px;
}
