
body{

  /*color: white;
  background-color: black;*/
  width: 90%;
  margin: 0 auto;
}


header {
  /*border: solid;*/
  position: relative;
  border-color: orange;
  height: 160px;
  background-color: #aeaca8;
}

.quote{
  font-size: 16px;
  /*border: dotted;*/
}

#pic1{
  /*border: dotted;*/
  position: absolute;
  top: 3%;
  right: 1.2%;
  width: 210px;
  height: 150px;
}

#content{
  /*border: dotted;*/
  /*border-color: orange;*/
}

#Bio{
  /*border: solid;*/
  border-color: orange;
}

#bioHeader{
  /*border: solid;
  border-color: orange;*/
  text-align: center;
  background-color: #aeaca8;
}

.centerInfo{
  text-align: center;
  border: solid;
  border-color: orange;
  width: 30%;
  float: left;
  margin: 1%;
  height: 220px;
  background-color: #aeaca8;
}

.topten{
  text-align: center;
  /*border: dotted;
  border-color: orange;*/
  margin-top: 280px;
}

#toptenlist{
  border: solid;
  border-color: orange;
}

#biotext{
  border: solid;
  border-color: orange;
}
